.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-area {
  width: 70%;
  /* height: 50px; */
}

.output-area {
  width: 70%;
  /* height: 10px; */
}

